---
http_interactions:
- request:
    method: get
    uri: http://api.stackexchange.com/2.2/questions?page=1&site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"tags":["android","garbage-collection","xamarin.android","admob","google-play-services"],"owner":{"reputation":36,"user_id":5106889,"user_type":"registered","profile_image":"https://lh6.googleusercontent.com/-kFOaVt686RQ/AAAAAAAAAAI/AAAAAAAAACk/Y3BYMgQhbgM/photo.jpg?sz=128","display_name":"PandaTurtle","link":"http://stackoverflow.com/users/5106889/pandaturtle"},"is_answered":false,"view_count":4,"answer_count":0,"score":0,"last_activity_date":1468434472,"creation_date":1468434030,"last_edit_date":1468434472,"question_id":38359099,"link":"http://stackoverflow.com/questions/38359099/garbage-collection-spam-and-crash-when-requesting-interstitial-ad-with-google-pl","title":"Garbage
        collection spam and crash when requesting Interstitial ad with google play
        services?"},{"tags":["ios","swift","tableview","swipe"],"owner":{"reputation":3,"user_id":6583941,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/72ed79a704963e957f395e0f02f48bfd?s=128&d=identicon&r=PG&f=1","display_name":"Emanuel
        Huber","link":"http://stackoverflow.com/users/6583941/emanuel-huber"},"is_answered":false,"view_count":2,"answer_count":0,"score":0,"last_activity_date":1468434471,"creation_date":1468434471,"question_id":38359216,"link":"http://stackoverflow.com/questions/38359216/how-do-a-swipe-navigation-in-a-table-view","title":"How
        do a Swipe Navigation in a Table View"},{"tags":["java","jmx"],"owner":{"reputation":1,"user_id":6585913,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/16e8065453ac5bbeb22f73167a60ae85?s=128&d=identicon&r=PG&f=1","display_name":"ThomasD","link":"http://stackoverflow.com/users/6585913/thomasd"},"is_answered":false,"view_count":1,"answer_count":0,"score":0,"last_activity_date":1468434470,"creation_date":1468434470,"question_id":38359215,"link":"http://stackoverflow.com/questions/38359215/how-to-return-custom-object-in-a-mbean-interface","title":"How
        to return custom object in a MBean interface"},{"tags":["c#",".net","windows-services"],"owner":{"reputation":1048,"user_id":1886874,"user_type":"registered","accept_rate":91,"profile_image":"https://i.stack.imgur.com/CSYQh.jpg?s=128&g=1","display_name":"Gian
        Acuna","link":"http://stackoverflow.com/users/1886874/gian-acuna"},"is_answered":false,"view_count":195,"answer_count":2,"score":2,"last_activity_date":1468434469,"creation_date":1467646656,"question_id":38188310,"link":"http://stackoverflow.com/questions/38188310/windows-service-wont-start-after-changing-target-framework","title":"windows
        service won&#39;t start after changing target framewor[...]
