---
http_interactions:
- request:
    method: get
    uri: http://api.stackexchange.com/2.2/users?page=1&site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"items":[{"badge_counts":{"bronze":7332,"silver":6338,"gold":469},"account_id":11683,"is_employee":false,"last_modified_date":1468403449,"last_access_date":1468433106,"age":40,"reputation_change_year":46149,"reputation_change_quarter":3042,"reputation_change_month":3042,"reputation_change_week":888,"reputation_change_day":216,"reputation":879656,"creation_date":1222430705,"user_type":"registered","user_id":22656,"accept_rate":88,"location":"Reading,
        United Kingdom","website_url":"http://csharpindepth.com","link":"http://stackoverflow.com/users/22656/jon-skeet","profile_image":"https://www.gravatar.com/avatar/6d8ebb117e8d83d74ea95fbdd0f87e13?s=128&d=identicon&r=PG","display_name":"Jon
        Skeet"},{"badge_counts":{"bronze":2337,"silver":2431,"gold":148},"account_id":14332,"is_employee":false,"last_modified_date":1467923724,"last_access_date":1468392143,"age":35,"reputation_change_year":39223,"reputation_change_quarter":2372,"reputation_change_month":2372,"reputation_change_week":789,"reputation_change_day":215,"reputation":672858,"creation_date":1224432467,"user_type":"registered","user_id":29407,"accept_rate":91,"location":"Sofia,
        Bulgaria","website_url":"htt[...]
